.content {
	width: 600px;	
	margin: 0 auto;
}
.title {
	background-color: #e91e63;
	padding: 12px;
}
.fr {
	margin-top: 20px;
}
label {
	float: left;
	width: 150px;
	text-align: right;
}
#gfr {
	float: left;
	width: 420px;
}